	body{
		font-size:12px;
		padding:0;
		margin:0;
	}

	a{
		color:#666;
		text-decoration:none;
	}
	a:hover{
		color:#e4393c;
		text-decoration:underline;
	}
	dt{
		font-weight:bold;
		display:block;
		line-height:28px;
	}
	dd{
		margin-left:10px;
		display:block;
		line-height:28px;
	}
	.selected{
		color:#e4393c;
		font-weight:bold;
	}

	/* 导航 */
	#nav{
		background:#e45050;
	}
	.logo{	
		float:left;		
		width:260px;
	}
	#nav a{		
		display:block;
		float:left;
	}
	#e1{
		background-image:url("img/logo.png");
		background-position:0px -3px;
		width:160px;
		height:70px;
	}
	#e2{
		font-family:"微软雅黑";
		font-size:20px;
		color:#ffffff;
		margin-top:10px;
		margin-left:10px;
		text-decoration:none;
	}
	#e3{
		color:#ffb2b2;
		border:1px solid #ffb2b2;
		border-radius:10px;
		height:18px;
		padding:0 10px;
		line-height:18px;
		margin-top:2px;
		margin-left:5px;
		text-decoration:none;
	}
	#e3:hover{
		color:#e4393c;
		background:#ffffff;
	}
	#container{
		background:#f5f5f5;
		height:595px;
	}
	.w{
		margin:0 auto;
		overflow:hidden;
		width:70%;
	}
	#playlist{
		float:left;
		margin:0;
		width:15%;
	}	
	#content{
		float:left;
		width:82%;
		padding:10px;
	}

	#content div{	
		background:#ffffff;
	}
	
	#recordContent{
		display:none;
		text-align:center;
		border:1px solid #ddd;
	}
	
	#lotteryContent{
		display:none;
		text-align:center;
		padding:10px;
		border:1px solid #ddd;
	}
	
	#btnLottery{
		display:block;
		margin:10px auto;
		width:100px;
		height:40px;
	}

	#canvas{
		border:1px solid #dddddd;
	}
	
	#orderList{
		border:1px solid #ddd;
		color:#333;
		border-collapse:collapse;
	}

	#orderList th{
		background:#e7e7e7;
		padding:5px;
		font-weight:normal;
	}
	.trOrder{
		background:#f5f5f5;		
	}
	.trOrder td{
		padding:5px;
	}
	.trOrder a{
		color:#005ea7;
	}
	.trOrder span:first-child{
		width:200px;
		display:inline-block;
	}
	.trProd td{
		border:1px solid #ddd;
		text-align:center;
		padding:5px;
	}
	.trProd td:first-child {
		text-align:left;
	}
	.imgList a{
		border:1px solid #e1e1e1;
		display:block;
		float:left;
		padding:2px;
		margin-left:5px;
	}
	.imgList a:hover{
		border-color:#EDD28B;
	}

	#foot{
		background:#fff;
		border-top:1px solid #eee;
		text-align:center;
		padding:20px 0;
	}